h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:chocolate; 
}
body { 
    background-color:antiquewhite; 
}
head {
    <img src="Mi proyecto/collar1.jpg">
}
}
head {
    margin: top 20px;
}