h1 {

    text-align: center;
    border: 10px; 
    width: 100%;
    height: 80px;
    margin: 0px;
    float:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:chocolate; 
    background-color:darksalmon;
        

}

h2 {
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slateblue;
    
    } 

body { 
    background-color:darkcyan;
    text-align: left;
}


 .box {
        background-color:darksalmon;
        width: 500px;
        height: 100px;
        margin: 50px;
        float:left;
        text-align: center;
    }
  

.siderbar {
    float:left;
    width: 50%;
    height: 400px;
    background-color: blueviolet;
}
    
    
     .box {
            background-color:darksalmon;
            width: 500px;
            height: 100px;
            margin: 50px;
            float:left;
            text-align: center;
        }


    
    .footer {
        float: left;
        width: 100%;
        height: 50px;
        background-color:sienna
    }
    
    
    head {
    margin-top 40px;
        width: 220px;
        height: 80px;
    }