h1 {
    border: 10px; background-color: darkgoldenrod coral;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:chocolate; 
        text-align: center;
}
h2 {

}
body { 
    background-color:darkcyan;

}
 .box {
        background-color:darksalmon;
        width: 100px;
        height: 100px;
        <!--No puede verse el margen del elemento flotante-->
        margin: 50px;
        float:left;
    }

head {
    <img src="Mi proyecto/collar1.jpg">
    
}
head {
    margin-top 20px;
    width: 300px;
    height: 150px;
 }